<header class="navbar-container">
    <div class="navbar-heading">
        <h1>User Management System</h1>
    </div>
    <nav class="navbar-links">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
        <a href="/users/logout">Logout</a>
    </nav>
</header>