<div class="mt-5">
    <% if (success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</div>
<div class="flex-center-container mt-5">
    <div class="registration-container">
        <form id="registrationForm" action="/admin/register" method="post" class="registration-form">
            <h2>Create an Account</h2>
            <span style="font-size: 18px;">It's quick and easy.</span>
            <div class="name-field">
                <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
            </div>
            <input type="text" name="email" id="email" placeholder="Email" required style="width: 100%;">
            <input type="password" name="pwd" id="pwd" placeholder="New password" required>
            <input type="password" name="pwdConf" id="pwdConf" placeholder="Confirm password" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('registrationForm');
        const password = document.getElementById('pwd');
        const pwdConf = document.getElementById('pwdConf');

        const clearCustomValidity = (input) => {
            input.setCustomValidity('');
            input.reportValidity();
        };

        const validatePasswordLength = () => {
            if (password.value.length < 8) {
                password.setCustomValidity('Password must be 8 characters long.');
                return false;
            }
            return true;
        };

        const validatePasswordMatch = () => {
            if (password.value !== pwdConf.value) {
                pwdConf.setCustomValidity('Passwords do not match.');
                return false;
            }
            return true;
        };

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            clearCustomValidity(password);
            clearCustomValidity(pwdConf);

            if (!form.checkValidity() || !validatePasswordLength() || !validatePasswordMatch()) {
                password.reportValidity();
                pwdConf.reportValidity();
                return;
            }

            // Form is valid, proceed with the submission
            form.submit();
            console.log('Form is valid. Implement form submission.');
        });

        document.querySelectorAll('input[type="password"]').forEach(input => {
            input.addEventListener('input', () => clearCustomValidity(input));
        });
    });
</script>